body a {
    color: var(--dark-color)
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;

}

h1 {
    font-size: 32px;
}


body {
    color: var(--dark-color)
}


.font-special {
    font-family: "Raleway", sans-serif;
}


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #555252;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}